@charset "utf-8";

#container .left{
    padding-bottom: 5px;
    border-bottom: 2px solid var(--midColor);
    width: 83px;
    text-align: center;
}
#container .right{
    color: var(--lightColor);
}
