@charset "utf-8";
#container .right{ 
    border-bottom: 2px solid var(--midColor);
    width: 115px;
    text-align: center;
    padding-bottom: 5px;
    color: var(--midColor);
}
#container .left{
    color: var(--lightColor);
}
#container .login_btn{
    margin-top: 50px;
}