@charset "utf-8";

.t1{padding-top: 70px;text-align: center;}
.t1_color{font-size: 30px;color: #196C2A;font-weight: 700;}
#container{overflow: hidden;}
#container .slide_wrap{overflow: hidden;
    width: 100%;height: 270px;}

#container .visual{position: relative;}
#container .slide1{position: relative;}
#container .slide1 .main_txt{
    width: 250px;
    position: absolute;
    left: 50%;top: 10%;
    transform: translateX(-40%);
    font-size: 26px;
    color: #3B895B;font-weight: 700;
}
#container .slide1 .slide1_btn{
    
    position: absolute;
    left: 50%;top: 35%;
    transform: translate(-40%, -30%);
}
#container .slide1 button{
    background: #EC6B6B;
    color: #fff;
    padding: 10px;
    border-radius: 20px;
    line-height: 10px;
    font-weight: 400;
    font-size: 14px;
    vertical-align: middle;
}

#container .slide2{position: relative;}
#container .slide2 .main_txt{
    width: 220px;
    position: absolute;
    left: 50%;top: 10%;
    transform: translate(-50%);
    font-size: 26px;
    color: #7A4441;font-weight: 700;
    text-align: center;
}
#container .slide3{position: relative;}
#container .slide3 .main_txt{
    width: 190px;
    position: absolute;
    right:0%;top: 50%;
    transform: translatey(-50%);
    font-size: 26px;
    color: #434343;font-weight: 700;
    text-align: center;

}
#container .slide3 .main_e{
    padding-left: 5px;
    font-size: 26px;font-weight: bold;
    color: #BE0000;
}
#container .slide4{position: relative;}
#container .slide4 .main_txt{
    width: 230px;
    position: absolute;
    left: 50%;top: 30%;
    transform: translate(-50%, -30%);
    font-size: 26px;
    color: #196C2A;font-weight: 700;
    text-align: center;
}

/* 비주얼 종료 */

#container .row1_wrap{
    /* width: 467px; */
   
    position: relative; 
padding-top: 50px;font-size: 18px;
text-align: center;}
#container .row1_txt h3{width: 150px; font-size: 20px;font-weight: 700;font-size: 20px;}
#container .row1_txt p{font-size: 16px;text-align: center;}
#container .row1_slide{position: relative;
    display: flex;justify-content: space-between; vertical-align: middle;
}
/* #container .row1_slide li{  width: calc(100%/3); */


#container .row1_slide1 img{width: 120px; height: 120px;align-items: center;}
#container .row1_slide img{width: 120px; height: 120px;}

#container .row3 .main_store_pic{
    padding: 30px 15px;margin-bottom: 40px;
}

#container .row4{
    height: 344px;
background:#FCFADB ;
position: relative;
margin: 70px auto;
}

#container .row4 .main_str{
    text-align: center;}
#container .row4 .main_pic{
    width: 80%;
    /* margin-left: 40px; */
    position: absolute;
    left: 50%;bottom:  0%;
transform: translate(-50%, 3%);
}

#container .row4 .main_text{
    width: 290px;
    font-size: 18px;
    font-weight: 700;
    color: #424242;
    padding-top: 30px;
    margin:0 auto;
    padding-bottom: 30px;
    /* text-align: center; */
    /* position: absolute;left: 50%;
    top: 20%;text-align: center;
    transform: translate(-50%, -20%); */
}
#container .row4 .main_strbtn{
    background: #EC6B6B;
    width: 120px;
    font-size: 18px;
   position: absolute; 
    left: 50%; top: 40%;
    transform: translate(-50%, -40%);
    line-height: 1;
    /* margin-left: 35%; */
    border-radius: 20px;
    z-index: 1;

}
#container .row4 .main_strbtn{
    color: #fff;font-weight: 700; padding: 10px;
}

#container .row5{
    text-align: center;
    margin-bottom: 70px;
    }
    
#container .sns_wrap .sns_txt{
    width: 290px;
    font-size: 20px;
    color: #424242;
    margin:0 auto;
    font-weight: 700;
}
#container .sns_list li{
    display: flex;
    padding-top: 30px;
}
#container .main_sns_pic{
    width: 76px; margin-left: 15px;margin-right: 10px;
}
#container .main_sns_txt{
    font-size: 16px;
    text-align: left;
    line-height: 1;
    padding-top: 20px;
  
}
#container .main_sns_txt h4{font-weight: 700;}
#container .main_sns_btn{
    margin-top: 20px;
    padding-left: 50px;
    
}
#container .insta{
    background: #69B7FF;
    line-height: 2;
    width: 97px;
    border-radius: 20px;
    color: #fff;
    font-weight: 400;
}